<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="dev" providerName="System.Data.SqlClient"
         connectionString="Data Source = AVONUNAKVJWIFSD\SQLEXPRESS; Initial Catalog = QuanLyTienLuong; Integrated Security=True"/>
  </connectionStrings>
</configuration>